
:root {
    --clr-gold: #d39038;
    --clr-btn: #d33838;
    --clr-btn-bg: #fff;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-self: flex-start;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo{
    position: relative;
    color: var(--clr-btn);
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    transition: .5s;
}
 header .logo:hover{
    color: var(--clr-gold);
 }
 header ul{
    position: relative;
    display: flex;
 }

ul li {
    list-style: none;
}

ul li a {
    position: relative;
    display: inline-block;
    color: var(--clr-btn);
    background: var(--clr-btn-bg);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    font-weight: 600;
    font-size: 1.1rem;
    margin-left: 10px;
    padding: 8px 18px;
    border-radius: 2rem;
    text-decoration: none;
    user-select: none;
    transition: 0.5s;
}

ul li a:hover,
.active {
    color: var(--clr-btn-bg);
    background: var(--clr-btn);
}